# Copia este archivo como terraform.tfvars y rellena los valores
# NUNCA commitear terraform.tfvars (tiene el db_password)

aws_region  = "us-east-1"
environment = "dev"
vpc_cidr    = "10.0.0.0/16"
db_username = "govtech_admin"
db_password = "CHANGE_ME_USE_STRONG_PASSWORD"
